/* Containers */
#main {
  position: absolute;
  color: white;
}

.main-container {
  margin: 0;
  margin-right: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.navbar-container {
  position: absolute;
  right: 0;
  top: 5vh;
  width: 50vw;
  height: 100px;
  backdrop-filter: blur(30px);
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-x: hidden;
  height: 100%;
  width: 40%;
  backdrop-filter: blur(30px);
  transition: 0.5s;
  width: 0;
}

.body-text-container {
  margin-left: 10vh;
  margin-top: 0;
}

.body-text-container-space {
  margin-top: 40vh;
}

/* Universal */
h1 {
  font-family: "Bellefair", serif;
  font-size: 150px;
}

h2 {
  font-family: "Bellefair", serif;
  font-size: 100px;
}

h3 {
  font-family: "Bellefair", serif;
  font-size: 56px;
}

h4 {
  font-family: "Bellefair", serif;
  font-size: 32px;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  letter-spacing: 4.75px;
  color: #d0d6f9;
}

h6 {
  font-family: "Bellefair", serif;
  font-size: 28px;
}

h7 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.35px;
}

p {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #d0d6f9;
}

/* Navbar */
.navbar-text {
  margin: 30px;
  margin-left: 5%;
  padding-bottom: 38px;
  display: inline-block;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  text-decoration: none;
  color: white;
  border-color: rgba(255, 255, 255, 0.5);
  transition: border-bottom-width 0.2s, padding-bottom 0.2s;
}

.current-page {
  border-bottom: solid;
  border-color: white;
  border-bottom-width: 5px;
  padding-bottom: 33px;
}

.current-page:hover {
  border-bottom-width: 10px;
  padding-bottom: 28px;
}

.non-current:hover {
  border-bottom: solid;
  border-bottom-width: 5px;
  padding-bottom: 33px;
}

.menu-button {
  position: absolute;
  right: 8vh;
  top: 8vh;
  width: 7vh;
  z-index: 1;
  display: none;
}

/* Mobile sidenav */
.close-sidenav {
  position: absolute;
  top: 3vh;
  right: 3vh;
  width: 5vh;
}

.mobile-navbar-text {
  margin-left: 4vw;
}

/* Body */
.bar {
  position: absolute;
  z-index: 1;
  width: 32vw;
  top: 8vh;
  left: 25vh;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

.star-img {
  position: absolute;
  z-index: 1;
  top: 5vh;
  left: 9.5vh;
  width: 10vh;
  background-color: white;
  border-radius: 100%;
  outline: solid 0px rgba(255, 255, 255, 0.5);
  transition: transform 0.5s ease-in-out, outline-width 0.5s ease-in-out;
}

.star-img:hover {
  transform: rotate(359deg);
  outline-width: 20px;
}

.main-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mobile-bg-img {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.tablet-bg-img {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.body-heading {
  margin: revert;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -1vh;
}

.body-text {
  line-height: 2;
}

.btn-explore {
  position: absolute;
  bottom: 13vh;
  right: 13vh;
  width: 40vh;
  border-radius: 100%;
  outline: solid 0px rgba(255, 255, 255, 0.5);
  transition: outline-width 0.5s;
}

.btn-explore2 {
  display: none;
  width: 30vh;
  margin: auto;
  border-radius: 100%;
  outline: solid 0px rgba(255, 255, 255, 0.5);
  transition: outline-width 0.5s;
}

.btn-explore:hover,
.btn-explore2:hover {
  outline: solid 100px rgba(255, 255, 255, 0.5);
  transition: outline-width 0.5s;
}

/* Animation */
#main,
.star-img {
  animation: transitionInLeft 0.75s;
}

.btn-explore,
.navbar-container {
  animation: transitionInRight 0.75s;
}

@keyframes transitionInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes transitionInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsiveness */

/* Tablet */
@media (max-width: 1280px) {
  .main-bg-img {
    display: none;
  }
  .tablet-bg-img {
    display: block;
  }
  hr {
    display: none;
  }
  #main {
    text-align: center;
    width: 100%;
  }
  #body {
    width: 100%;
  }
  .body-text-container {
    margin-top: 25vh;
    margin-left: 0;
  }
  .navbar-container {
    top: 5vh;
    right: 0;
    width: 75vw;
    backdrop-filter: blur(100px);
  }
  .star-img {
    top: 8vh;
    left: 7vh;
    width: 10vw;
  }
  .navbar-text {
    margin-left: 0;
  }
  .btn-explore {
    display: none;
  }
  .btn-explore2 {
    display: block;
    margin: auto;
  }
}

/* Mobile */
@media (max-width: 681px) {
  h1 {
    font-size: 20vw;
  }
  h5 {
    font-size: 5vw;
  }
  p {
    font-size: 3vw;
  }
  .bar {
    display: none;
  }
  .navbar-container {
    display: none;
  }
  .navbar-text {
    margin-left: 4vw;
  }
  .menu-button {
    display: inline-block;
  }
  .body-text-container-space {
    transition: margin-top 0.5s;
    margin-top: 20vh;
    margin-right: 10vh;
  }
  #main {
    text-align: left;
  }
  .body-text-container {
    margin-top: 20vh;
    margin-left: 10vh;
  }
  br {
    display: none;
  }
  .main-bg-img {
    display: none;
  }
  .mobile-bg-img {
    display: block;
  }
  .star-img {
    position: absolute;
    left: 10vh;
    top: 7vh;
    width: 8vh;
  }
  .btn-explore {
    display: none;
  }
  .btn-explore2 {
    display: block;
    width: 40vw;
  }
}
